header{
    background: #5e5e5e;
}

nav li{
    display: inline;
    text-transform: uppercase;
    font-weight: solid;
    font-size: 30px;
    padding: 140px;
}

h2{
    text-align: center;
}

.fotos{
    margin-left: 300px;
    width: 50%;
    border-radius: 20%;
    border: 10px solid rgb(114, 109, 109)
}

body{
    background: #5e5e5e;
}